<div class="container">
  <div class="row mr-0 ml-0">

    <div class="input-group mb-3 mt-3">
      <input type="text" class="form-control border border-dark" [(ngModel)]="texto" #searchBox="ngModel" placeholder="Buscar">
    </div>

    <ng-container *ngIf="recetas.length > 0">
      <div *ngFor="let receta of recetas; let i = index;" class="col-md-3 col-sm-6 col-xs-12">
        <div class="card m-2">
          <img *ngIf="receta.thumbnail !== ''" [src]="receta.thumbnail" class="card-img-top" [alt]="receta.title">
          <div class="card-body">
            <h5 class="card-title">{{receta.title}}</h5>
            <p class="card-text">Ingredientes: {{receta.ingredients}}</p>
            <a [href]="receta.href" class="btn btn-primary">Ir a</a>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>